dist/
__pycache__/
.coverage
.idea/
.tox/
*.egg-info/
*.py[cod]
*$py.class
.python-version
poetry.lock
/corrupted_text/.text_corruption_cache/
/corrupted_text/.gen/
/tests/.text_corruption_cache
/corrupted_text/.imdb_test
/build/
/pypi_deploy.sh
/corrupted_text/.text_corruption_cache/
/corrupted_text/.gen/
/tests/.text_corruption_cache
/corrupted_text/.imdb_test
/build/
